.section__addToList {
  padding: 15px;
  width: 100%;
  display: flex;

  .section__addToListInput {
    height: 50px;
    width: 100%;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  .section__addToListBtn {
    height: 50px;
    width: 40px;
    background-color: var(--text-color-1);
    border: none;
    font-weight: bold;
    color: var(--text-color-2);
    cursor: pointer;
  }
}
