.section__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text-color-1);
  height: 60px;

  .section__itemCheckbox {
    display: none;
  }

  .section__itemCheckbox:checked + .section__itemLabel {
    background-color: var(--primary-color);
    i {
      opacity: 1;
    }
  }

  .section__itemLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 1px solid var(--text-color-1);
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 5px;

    i {
      opacity: 0;
      color: var(--text-color-2);
    }
  }

  .section__itemText {
    margin: 0 6px;
    text-align: center;
  }

  .section__itemBtnDelete {
    background: none;
    border: none;
    cursor: pointer;
    i {
      font-size: 1.2rem;
      color: var(--secondary-color);
    }
  }
}

.section__item:has(.section__itemCheckbox:checked) .section__itemText {
  text-decoration: line-through;
  color: var(--text-color-3);
  opacity: 0.6;
}
