.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section__container {
    width: min(1200px, 100%);
    border: 1px solid var(--bg-color-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 60px;

    .section__h1 {
      background-color: var(--bg-color-3);
      width: 100%;
      text-align: center;
      color: var(--text-color-2);
    }

    .section__filter {
      outline: 1px solid var(--bg-color-4);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      gap: 10px;
    }

    .section__list {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
    }
  }
}
