* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-body: #f5f5f5;
  --primary-color: #4caf50;
  --secondary-color: #ff5722;
  --text-color-1: #333333;
  --text-color-2:#ffffff;
  --text-color-3:#444444;
  --bg-color-1:#ececec;
  --bg-color-2:#c9c9c9;
  --bg-color-3:#22a0db93;
  --bg-color-4:#5e5e5e3f;
}

body {
  background-color: var(--background-body);
  color: var(--text-color);
}